{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "alias": [
          ["@components", "./components"],
          ["@styles", "./styles"],
          ["@models", "./models"],
          ["@context", "./context"]
      ]
    }
  },
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  }
}